* {
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
}

:root {
  --mainBackground: #12131A;
  --textareaBackground: #1C1F2A;
  --mainText: #F2F2F7;
  --secondaryText:#B4B7C9;
  --progressColor: #D19BFF;
}

body {
    background-color: var(--mainBackground);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header {
    width: 100%; 
    max-width: 700px;
    display: flex;
    justify-content: space-between; 
    padding: 20px 0; 
}

.settings {
    margin-right: 20px;
    cursor: pointer;
    border-radius: 100px;
}

header div p {
    color: var(--secondaryText);
    font-size: 15px;
    font-weight: bold;
    display: inline;
}

header div img {
    margin-bottom: -10px;
}

h1 {
    color: var(--mainText);
    font-size: 280%;
}

span {
    display: block;
    margin-left: 50px;
}

textarea {
    resize: none;
    width: 40%;
    min-height: 170px;
    margin-top: 30px;
    padding: 20px;
    box-sizing: border-box; 
    background-color: var(--textareaBackground);
    color: var(--mainText);
    border: 1px solid #2A2D3A;
    border-radius: 10px;
    font-family: inherit;
    font-size: 16px;
    line-height: 1.5;
}

input[type="checkbox"] {
    accent-color: var(--progressColor); 
    
}

input[type="checkbox"]:hover {
    border-color: aquamarine;
    cursor: pointer;
}

.inputSection {
    width: 40%;
    max-width: 700px;
    padding: 20px 0; 
}


.inputSection p{
    display: inline;
    color: var(--secondaryText);
    font-size: smaller;
}

.pCheckbox1 {
    margin-left: 3px;
}


.checkbox2 {
    margin-left: 15px;
}

.pCheckbox2 {
    margin-left: 3px;
}

.pCheckbox3 {
    margin-left: 30%;
}

.summarySection {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card1 {
    background-image: url(./assets/images/backgroundCard1.png);
    background-size: cover;
    background-position: center;
    width: 12.43%;
    height: 150px;
    border-radius: 10px;
    margin-right: 0.7%;
}

.card2 {
    background-image: url(./assets/images/backgroundCard2.png);
    background-size: cover;
    background-position: center;
    width: 12.43%;
    height: 150px;
    border-radius: 10px;
}

.card3 {
    background-image: url(./assets/images/backgroundCard3.png);
    background-size: cover;
    background-position: center;
    width: 12.43%;
    height: 150px;
    border-radius: 10px;
    margin-left: 0.7%;
}

.summarySection h2 {
    font-size: 300%;
    margin-top: 10%;
    margin-left: 5%;
}

.summarySection p {
    margin-top: 10%;
    margin-left: 5%;
}

.letterDensitySection h2 {
    margin-bottom: 2%;
}


.letterDensitySection {
    color: var(--secondaryText);
    width: 40%;
    margin-top: 2%;
}

.letterDensitySection div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 6px;
}

.letterDensitySection p {
    display: inline;
}

.leftLetterDensity {
    width: 10px;
}

meter {
    appearance: none;
    -webkit-appearance: none;
    width: 80%;
    height: 18px;
    background-color: #2A2D3A;
    border: none;
    border-radius: 16px;
    overflow: hidden;
}


meter::-webkit-meter-bar {
    background-color: #2A2D3A;
    border: none;
    border-radius: 16px;
}

meter::-webkit-meter-optimum-value {
    background-color: var(--progressColor);
    border-radius: 16px;
}

meter::-moz-meter-bar {
    background-color: var(--progressColor);
    border-radius: 16px;
}

meter::-webkit-meter-even-less-good-value,
meter::-webkit-meter-suboptimum-value,
meter::-webkit-meter-optimum-value {
    background: var(--progressColor);
}
/* Me re pelee con el meter este, estuvo re dificil*/

footer {
    color: var(--secondaryText);
    margin-top: 13px;
    width: 40%;
}

footer p {
    width: 95px;
    cursor: pointer;
}

@media (max-width: 718px) {
    .inputSection {
        display: flex;
        flex-direction: column;
    }

    .inputSection p {
        margin-bottom: 10px;
    }
}

@media (max-width: 600px) {
    .summarySection {
        display: flex;
        flex-direction: column;
    }

    .summarySection div {
        width: 40%;
    }

    .letterDensitySection div {
        margin-bottom: 20px;
    }
}